<div ng-app="app">
  <div ng-controller="usersCtrl" ng-init="setupUserShow(<%= @user.id %>)">

    <h3><strong>{{ user.full_name }}</strong></h3>

    <p>
      <strong>Email:</strong>
      {{ user.email }}
    </p>

    <p>
      <strong>Current title:</strong>
      {{ user.current_title }}
    </p>

    <p>
      <strong>Current employer:</strong>
      {{ user.current_employer }}
    </p>

    <p>
      <strong>Cohort:</strong>
      {{ user.cohort.name }}
    </p>

    <p>
      <strong>Graduation date:</strong>
      {{ user.friendly_grad_date }}
    </p>

    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %>
    <%= link_to 'Back', users_path, class: "btn btn-default" %>

  </div>
</div>